---
layout: default
---
{%- assign pg = site.data.pages[page.data_id] -%}
{%- if pg == nil -%}
  <p class="error">No data for <code>{{ page.data_id }}</code>.</p>
{%- else -%}

<article class="page-content">

  <header>
    <h1>{{ pg.title }}</h1>
  </header>

  {%- if pg.body %}
    {%- assign asset_base = site.baseurl | append: '/assets/' %}
    {%- assign body_fixed = pg.body | replace: '/assets/', asset_base %}
    <section class="page-body">
      {{ body_fixed | markdownify }}
    </section>
  {%- endif %}

</article>

{%- endif -%}
